body {
    font-family: arial, monospace
}

h1 {
    color: #916887
}

.negative {color: red}

.positive {color: green}

#script1 img {
    height: 150px;
    width:150px
}

#script1 div {
    display: inline-block;
    padding-left: 10px;
    width:200px;
}

svg {
    border: 1px solid black;
    border-radius: 5px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid-line {
    fill: none;
    stroke: grey;
    stroke-width: 0.5px;
}

.trendline {
    fill: none;
    stroke: OrangeRed;
    stroke-width: 2px;
    stroke-dasharray: 5.5;
}
    
.lists div {
    display: inline-block;
}

.lists h4 {
    text-align: center;
    margin-bottom: -0.7em;
}

#coldest {
    padding-left: 5em;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node.root circle {
  stroke: gold;
  fill: url(#Donald_Trump);
}

.node.root text {
  font-size: 20px;
  font-family: Times;
  text-decoration: underline;
}
.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.legend rect {
  stroke: black;
  stroke-width: 0.5px;
  fill: none;
}

.legend text {
  font-size: 11px;
}

.link.spouse {
  fill: none;
  stroke: hotpink;
  stroke-dasharray: 4px;
  stroke-width: 4px;
}

#week4 {
    width: 100%;
    height: 400px;
}

circle.selected {
    stroke-width: 8px;
    stroke: #b3b3b3;
    stroke-opacity: 0.4;
}

.hands path {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
